---

---

<div
  class="text-muted text-sm bg-[var(--aw-color-bg-page)] dark:bg-[var(--aw-color-bg-page-dark)] border-b border-[var(--aw-color-secondary)] dark:border-[var(--aw-color-secondary)] text-[var(--aw-color-text-default)] dark:text-[var(--aw-color-text-default)] hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-[var(--aw-color-accent)] dark:bg-[var(--aw-color-secondary)] text-[var(--aw-color-primary)] dark:text-[var(--aw-color-accent)] font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEWSLETTER</span
  >
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="font-medium hover:underline focus:underline outline-none"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign up for thoughtful observations on music, technology, and spiritual evolution!
  </a>
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto w-auto h-[1.25rem] ml-auto px-3 py-0.5 rounded bg-[var(--aw-color-primary)] text-white hover:bg-[var(--aw-color-secondary)] transition-colors text-xs font-semibold flex items-center justify-center"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign Up
  </a>
</div>
