---

---

<div
  class="bg-muted/40 border-border text-foreground relative hidden gap-1 overflow-hidden border-b px-3 py-2 text-sm text-ellipsis whitespace-nowrap md:flex"
>
  <span
    class="bg-accent text-accent-foreground mr-0.5 inline-block rounded-sm px-1 py-0.5 text-xs font-semibold rtl:mr-0 rtl:ml-0.5"
    >NEWSLETTER</span
  >
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="text-foreground hover:text-accent font-medium transition-colors outline-none hover:underline focus:underline"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign up for thoughtful observations on music, technology, and spiritual evolution!
  </a>
  <a
    href="https://newsletter.resonantprojects.art/"
    target="_blank"
    rel="noopener"
    class="bg-primary text-primary-foreground hover:bg-accent hover:text-accent-foreground ml-auto flex h-[1.25rem] w-auto items-center justify-center rounded px-3 py-0.5 text-xs font-semibold transition-colors ltr:ml-auto rtl:mr-auto"
    title="Sign up for the Resonant Projects newsletter"
  >
    Sign Up
  </a>
</div>
