---
import { Icon } from 'astro-icon/components';

export interface Props {
  icon?: string;
  title?: string;
  description?: string;
}

const {
  icon = 'tabler:info-square',
  title = await Astro.slots.render('title'),
  description = await Astro.slots.render('description'),
} = Astro.props;
---

<section class="border rounded-lg shadow-sm bg-muted/70 border-border not-prose">
  <div class="max-w-6xl px-4 py-4 mx-auto font-medium text-center sm:px-6 text-md">
    <Icon name={icon} class="inline-block w-5 h-5 font-bold align-text-bottom" />
    <span class="font-bold text-foreground/80" set:html={title} />
    <Fragment set:html={description} />
  </div>
</section>
