---
return new Response(null, {
  status: 301,
  headers: {
    Location: 'https://resonantprojects.notion.site/link',
  },
});
---

<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="https://resonantprojects.notion.site/link">Notion</a>...</p>
  </body>
</html>
