---
import { SITE } from 'astrowind:config';
import logoIcon from '@src/assets/favicons/LogoOnly_Inverted_transparent.png';
---

<span class="ml-2 flex items-center self-center text-2xl font-bold whitespace-nowrap md:text-xl rtl:mr-2 rtl:ml-0">
  <img src={logoIcon.src} alt="Logo" class="mr-2 h-8" />
  {SITE?.name}
</span>
