@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/forms";
@variant dark (&:where(.dark, .dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --color-myColor-50: #f1e9f0;
  --color-myColor-100: #e2d4e0;
  --color-myColor-200: #c5a9c1;
  --color-myColor-300: #a87da3;
  --color-myColor-400: #8b5284;
  --color-myColor-500: #6e2765;
  --color-myColor-600: #581f51;
  --color-myColor-700: #42173d;
  --color-myColor-800: #2c1028;
  --color-myColor-900: #160814;
  --color-myColor-950: #0a040a;

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);
}

@layer base {
  :root {
    --background: var(--color-myColor-50);
    --foreground: var(--color-myColor-950);
    --card: var(--color-myColor-50);
    --card-foreground: var(--color-myColor-950);
    --popover: var(--color-myColor-50);
    --popover-foreground: var(--color-myColor-950);
    --primary: var(--color-blue-700);
    --primary-foreground: var(--color-myColor-50);
    --secondary: var(--color-fuchsia-700);
    --secondary-foreground: var(--color-myColor-50);
    --muted: var(--color-myColor-100);
    --muted-foreground: var(--color-myColor-600);
    --accent: var(--color-myColor-200);
    --accent-foreground: var(--color-myColor-900);
    --info: var(--color-sky-300);
    --info-foreground: var(--color-sky-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-green-950);
    --warning: var(--color-amber-300);
    --warning-foreground: var(--color-amber-950);
    --error: var(--color-red-700);
    --error-foreground: var(--color-myColor-50);
    --border: var(--color-myColor-200);
    --input: var(--color-myColor-200);
    --outline: var(--color-blue-600);
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--color-myColor-950);
    --foreground: var(--color-myColor-50);
    --card: var(--color-myColor-950);
    --card-foreground: var(--color-myColor-50);
    --popover: var(--color-myColor-950);
    --popover-foreground: var(--color-myColor-50);
    --primary: var(--color-blue-700);
    --primary-foreground: var(--color-myColor-50);
    --secondary: var(--color-fuchsia-300);
    --secondary-foreground: var(--color-myColor-950);
    --muted: var(--color-myColor-900);
    --muted-foreground: var(--color-myColor-400);
    --accent: var(--color-myColor-900);
    --accent-foreground: var(--color-myColor-100);
    --info: var(--color-sky-300);
    --info-foreground: var(--color-sky-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-green-950);
    --warning: var(--color-amber-300);
    --warning-foreground: var(--color-amber-950);
    --error: var(--color-red-800);
    --error-foreground: var(--color-myColor-50);
    --border: var(--color-myColor-800);
    --input: var(--color-myColor-800);
    --outline: var(--color-blue-600);
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  *:focus-visible {
    @apply outline-outline;
  }
  html {
    @apply bg-background text-foreground scheme-light dark:scheme-dark;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  /* transition-colors but without outline-color transition property */
  .starwind-transition-colors {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via,
      --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }
}
